/* expense-item, expense-item__date, expense-item__description, expense-item__price  50sec*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.expenses {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 24px 16px;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 12px;
}

.expense-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  gap: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: #4b4b4b;
}

.expense-item:first-child {
  margin-top: 0;
}

/* DATE COMPONENT */
.expense-date {
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #fff;
}

.expense-date__month {
  font-weight: 700;
  font-size: 8px;
}

.expense-date__year {
  font-size: 8px;
  margin-top: 2px;
}

.expense-date__day {
  font-weight: bolder;
  font-size: 16px;
  margin-top: 8px;
}

/* END of COMPONENT*/

.expense-item h2 {
  color: #fff;
  font-size: 16px;
}

.expense-item__description {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.expense-item__price {
  background-color: #5f3dc4;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 8px;
  color: #fff;
}
