* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.new-expense {
  background-color: #a892ee;
  width: 50%;
  margin: 0 auto;
  margin-top: 48px;
  font-size: 20px;
  padding: 16px;
  border-radius: 12px;
  /*CHANGED*/
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.new-expense__controls {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  row-gap: 24px;
  column-gap: 16px;
}

.new-expense__control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-weight: 700;
}

.new-expense__control input {
  width: 30rem;
  /* width: 90%; */
  font-size: 20px;
  padding: 12px 8px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.new-expense__actions {
  display: flex;
  gap: 12px;
  justify-self: end;
  align-self: end;
}

.new-expense__action {
  background-color: #40005d;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.add-expense-btn {
  cursor: pointer;
}
