* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #3f3f3f;
}

.head-h2 {
  font-weight: 800;
  margin-top: 16px;
  font-size: 30px;
}
